.detail {
    .my-warp {
        padding: 20px;
        .my-title{
            font-weight: bold;
        }
        .am-list-body {
            border-radius   : 10px;
            background-color: white;
        }

        .am-list-item {
            background-color: transparent;
        }

        .btn {
            font-size    : 17px;
            margin-top   : 70px;
            border-radius: 4px;
        }
        
    }

    ::-webkit-input-placeholder {
        text-align: right !important;
        font-size : 14px;
    }

}